*{
    margin: 0;
    padding: 0;
    font-family: sans-serif, arial;
    width: auto;
}
a{
    transition: all 0.2s linear;
}
.container{
    width: 100%;
    max-width: 100vw;
}

.banner{
    width: 140%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(images/back-ground.jpg);
    background-position:center;
}
.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-self: space-between;
}
.logo{
    width: 120px;
    cursor: pointer;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px; 
    position: relative;
    transform: translateX(17cm);
}
.navbar ul li a{
    display: flex;
    flex-wrap: nowrap;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;   
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 80%;
} 
.dropdown_menu {
    display: none;
}
.navbar ul li:hover .dropdown_menu{
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
}
.navbar ul li:hover .dropdown_menu ul{ 
    display: block;
    margin: 5px;
}
.navbar ul li:hover .dropdown_menu ul li{  /*hien thi thanh dropdown*/
    width: 150px;
    padding: 10px;
    margin-top: 3px;
    left: -17.8cm;
}
.navbar ul li:hover .dropdown_menu ul li a{
    margin-bottom: -1cm;
    transform: translateX(-12px);
}
.dropdown_menu{
    display: none;
}
.fas {
    float: right;
    margin-left: 10px;
    padding-top: 0px;
}
.content{
    width: 100%;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
}
/* body */
.content img{
    width: 100%;
}
.contact{
    height: 700px;
    width: 130%;
}
.post-single{
    margin: 10px 24px;
    font-family: 'times new roman', times, serif ;
    margin: 0 60px;
}

.post-single h1{
    font-size: 50px;
    margin: 16px 0px ; 
}
.article{
    line-height: 20px;
    text-align: justify;
    margin: 20px 0 ;
    line-height: 30px;
}
.article img{
    width: 70%;
    height: 1500px;
    margin: 10px 200px;
}
.article span{
    font-weight: bold;
    font-size: 30px;
    font-family:'times new roman',times,serif;
}

.article h2 {
    font-size: 24px;
    font-weight: lighter;
}
.article ul li {
    margin-left: 40px;
    font-size: 22px;
}
.contact{
    height: 650px;
}
.contact .box{
    float:left;
    margin: 10px 20px;
}
.box{
    width: 20%;
    height: 550px;
    background-color: #ccc;
    padding: 8px;
    margin: 10px 10;
    
}
.box img{
    width: 100%;
}
.box p{
    margin-top: 10px;
    font-size: 20px;
}
.box h3{
    padding: 10px;
    background-color: rgb(255, 135, 56);
    text-decoration: none;
}
.box a{
    font-size: 16px;
    color: #000;
    padding: 14px;
    margin-top: 20px;
    background-color: rgb(255, 135, 56);
    float: right;
    text-decoration: none;
}
.box a:hover{
    color: #ff523b;
}
div.header1{
    text-align: center;
    font-weight: lighter;
    position: relative;
}
.header1::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.utility{
  display: flex;
  margin: 30px auto;
  width: 100%;
}
.u{
    transition: transform 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.u:hover{
    transform: translateY(-5px);
}
.u_p{
   text-align: center;
   width: 80%;
}
.u_img{
    margin-left: 20%;
    width: 60%;
    /* margin-left: 120px; */
}
.u__header{
    text-align: center;
}

.utility a{
    text-decoration: none;
    color: #D58512;
}
.header {
    margin: 30px 0;
    text-align: center;
    position: relative;
}
.header::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10;
}
.layout_image{
   width: 100%;
   height: auto;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px 20px;
    margin: 0 10px;
    
}

.layout_item a{
    position: relative;
    display: inline-block;
}
.layout_item a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background-color: rgba(255,61,84,0.6);
    transition: all 1s ease-in;
    width: 100%;
    height: 100%;
}
.layout_item a:hover{
    opacity: 0.8;
}
.layout_item:hover img {
    background-image: rgba(255,61,84,0.6);
}
/* footer */
div.email{
    text-align: center;
    border: 1px solid black;
    height: 60px;
    background-color: #101010;
    position: relative;
    margin-top: 0px;
    width: 140%;
}
div.email p.name{
    color: #fff;
    margin-top: 18px;
}
div.email p.click{
    position: absolute;
    right: 750px;
    top: 15px;
    border: 2px solid black;
    color: #fff;
    font-weight: bold;
    background-color: orange;
    padding-top: 3px;

}
div.email p.first{
    position: absolute;
    top: 18px;
    left: 650px;
    color: white;
    font-weight: bold;
}
div.email a{
    text-decoration: none;
    color: white;
}
div.email a:hover{
   color: blue;
}
footer{
    display: flex;
    justify-content: space-between;
    font-family: sans-serif, arial;
    height: 200px;
    width: 140%;
    line-height: 15px;
    background-color: #ededed;
}
div.footer__column ul{
    list-style: none;
    margin-top: 20px;
}
div.footer__column h3{
   padding-left: 20px;
   padding-top: 10px;
}
div.logo1{
    margin-right: 20px;
}
div.footer__column li{
    margin-top: 8px;
    padding-left: 20px;
}
div.footer__column a{
    text-decoration: none;
    color: black;
}
div.footer__column a:hover{
    color: orange;
}
div.footer__column i.fa-facebook{
    color: blue;
}
div.footer__column i.fa-youtube{
    color: red;
}
div.final{
    text-align: center;
}


